.check-box {
    -fx-text-fill: #F8F8F8;
}

/*grid*/
#grid {
    -fx-alignment: center;
    -fx-background-color: #49A5E0;
    -fx-background-image: url("../images/waterBG.gif");
    -fx-background-size: 750 850;
    -fx-border-color: grey;
    /*-fx-grid-lines-visible: true;*/
}

/*isles*/
.isle-alert {
    -fx-effect: dropshadow(three-pass-box, red, 20, 0, 0, 0);
}

.isle-solved {
    -fx-effect: dropshadow(three-pass-box, palegreen, 20, 0, 0, 0);
}

/*bridges*/
.bridge-first {
    -fx-stroke: linear-gradient(to bottom right, #ff3333, #ff9999);
    -fx-stroke-width: 1.5;
    -fx-effect: dropshadow(gaussian, #ff3333, 0, 1, 0, 0);
}

.bridge-last {
    -fx-stroke: linear-gradient(to bottom right, #4d4d4d, #808080);
    -fx-stroke-width: 1.5;
    -fx-effect: dropshadow(gaussian, #4d4d4d, 0, 1, 0, 0);
}

