.root, .dialog {
    -fx-background-color: #282828;
}

/*controls*/
.label, .check-box {
    -fx-text-fill: #e8e8e8;
}

/*menu-bar*/
.menu-item > .label, .menu > .label {
    -fx-text-fill: #282828;
}

/*board*/
#pane{
    -fx-border-color: grey;
    -fx-background-color: #4BA6E0;
}

/*isle panes*/
#isle > .label {
    -fx-text-fill: #282828;
}

#points {
    -fx-font-size: 12pt;
}