.root {
    -fx-background-color: #282828;
}

/*controls*/
.label, .check-box {
    -fx-text-fill: #e8e8e8;
}

/*menu-bar*/
.menu-item > .label, .menu > .label {
    -fx-text-fill: #282828;
}

#grid {
    -fx-background-color: #49A5E0;
    -fx-background-image: url("../images/waterBG.gif");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 750 850;
}

/*isles*/
#isle {
    -fx-background-image: url("../images/isle.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 40 40;
    -fx-background-position: center, center;
}

#isle > .label {
    -fx-text-fill: #f8f8ff; /*GhostWhite*/
    -fx-font-weight: bold;
    -fx-font-size: 11pt;
}

#points {
    -fx-font-size: 12pt;
}