.root {
    -fx-background-color: #282828;
}

/*controls*/
.label, .check-box {
    -fx-text-fill: #F8F8F8;
}

/*menu-bar*/
.menu-item > .label, .menu > .label {
    -fx-text-fill: #282828;
}

/*points display*/
#points {
    -fx-font-size: 12pt;
}

/*grid*/
#grid {
    -fx-background-color: #49A5E0;
    -fx-background-image: url("../images/waterBG.gif");
    -fx-background-size: 750 850;
}

/*isles*/
#isle {
    -fx-background-image: url("../images/isle.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 40 40;
    -fx-background-position: center, center;
}

#isle > .label {
    -fx-text-fill: #F8F8F8; /*GhostWhite*/
    -fx-font: 12 Tahoma;
    -fx-font-weight: bold;
}

.isle-alert {
    -fx-effect: dropshadow(three-pass-box, red, 10, 0, 0, 0);
}

.isle-solved {
    -fx-effect: dropshadow(three-pass-box, palegreen, 10, 0, 0, 0);
}

/*bridges*/
#bridge {
    -fx-stroke-width: 1.8;
}

.bridge-first{
    -fx-stroke: #cc6697;
}

.bridge-last{
    -fx-stroke: purple;
}

